<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>speechjs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>

  <div class="container">
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="{{#if connect}} active {{/if}}"><a href="connect.html">Connect</a></li>
        <li class="{{#if config}} active {{/if}}"><a href="config.html">Config <span class="label label-danger">devs only</span></a></li>
      </ul>
      <h3 class="text-muted">Speech.js</h3>
    </div>
  {{> body }}
    <div class="footer">
      <ul class="list-inline">
        <li><a href="http://twitter.com/jeremie_parker" target="_blank" title="@jeremie_parker" style="text-decoration:none;"><i class="glyphicon glyphicon-bullhorn"></i></a></li>
        <li><a href="http://github.com/p-j" target="_blank" title="@p-j" style="text-decoration:none;"><i class="glyphicon glyphicon-random"></i></a></li>
        <li><a href="mailto:yawa@jeremie-parker.com" title="yawa@jeremie-parker.com" style="text-decoration:none; color:#E54C3B;"><i class="glyphicon glyphicon-envelope"></i></a></li>
      </ul>
    </div>
  </div>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/jquery.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
  <!-- endbuild -->
</body>
</html>
