.css-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

#editor {
  width: 100%;
  padding: 1em;
  height: 20em;
  margin-bottom: 1em;
  font-family: "Droid Sans Mono", "andale mono", "Ubuntu Mono", monospace;
}

#accordion {
  padding: 1em;
}

pre {
  white-space: pre-wrap;
}

#accordion .btn {
  margin: .5em .5em .5em .0em;
}
