<!doctype html>
{{> header }}
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/speech.js -->
<script data-main="scripts/speech" src="bower_components/requirejs/require.js"></script>
<!-- endbuild -->

<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

	<body data-spy="scroll" data-target="#navbar">

  <div class="container">
	{{> body }}


  {{> footer }}
  </div>



</body>
</html>
