<div class="footer row">
  <ul class="list-inline">
    <li><a href="http://twitter.com/speechis" target="_blank" title="@speechis" style="text-decoration:none;"><i class="glyphicon glyphicon-bullhorn"></i></a></li>
    <li><a href="http://github.com/speechjs" target="_blank" title="@speechjs" style="text-decoration:none;"><i class="glyphicon glyphicon-random"></i></a></li>
    <li><a href="mailto:admin@speech.is" title="yawa@jeremie-parker.com" style="text-decoration:none; color:#E54C3B;"><i class="glyphicon glyphicon-envelope"></i></a></li>
  </ul>
</div>