<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="www.speech.is/index.html">Speech.is</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="www.speech.is/connect.html">Connect</a></li>
      <li><a href="http://www.speech.is/about.html">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://www.speech.is/sconfig.html">Config  <span class="label label-danger">devs only</span>
      </a></li>
      <li><a href="https://github.com/SpeechJS/speech.js">Github <span class="glyphicon glyphicon-share-alt"></span></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
 <style>
   .navbar-default {
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 10%, rgba(244, 244, 244, 0.95));
   }
 </style>