<div class="jumbotron">
  <h1>Speech.js Config</h1>

  <p class="alert alert-danger">
    This is a developer interface to add or delete records. It is all alpha
    quality code: nothing is secure, hide your hamster.
  </p>


  <button type="button" class="btn btn-warning btn-large"
          btn-checkbox
          btn-checkbox-true="1"
          btn-checkbox-false="0"
          onclick='$("#config-panel").slideToggle();'
      >

    Toggle Config
  </button>

</div>

<div id="config-panel" style="display: none">
    <!--entries-->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">Entries</h1>
      </div>
      <div class="alert alert-warning">
        <p>
        FYI: There are debugging entries hardcoded into speech.js which show up
        here, deleting or editing them has no impact on the system. However,
        sometimes the browser stuffs things into localStorage as well.
        </p>
      </div>
      <!--
      TODO: fix kludgy angularJS <-> localstorage hack
      TODO: max-height and scrolling for entries
      TODO: format JSON
      TODO: per-entry editing tab
      -->


      <div class="panel-group" id="accordion">

      </div>

      <div class="panel-footer clearfix">

        <form class="css-form" action="">

          <label>Name
            <input id='name'
                   type="text"
                   required
                   min="1"
                   max="63"

                />
                 <!--ng-pattern="/^[a-zA-Z0-9][a-zA-Z0-9-]+$/"-->
          </label>

          <!--
          TODO: get ACE working
          TODO: validate JSON
          TODO: Form/wizard full domain name spec: http://dot-bit.org/Namespace:Domain_names_v2.0
          -->
          <br/>
          <textarea id="editor" name="editor">Code goes here.</textarea>
          <br/>
          <i>Input is not validated, see the <a
              href="http://dot-bit.org/Namespace:Domain_names_v2.0">
            domain name spec</a> for more info</i>.
          <button onclick="config.save()" class="pull-right btn btn-primary">
            save
          </button>
          <!--<div class="clearfix"></div>-->

        </form>
      </div>

    </div>
    <!--/entries-->
  </div>

<!-- build:js scripts/config.js -->
<script data-main="scripts/config"
        src="http://www.speech.is/bower_components/requirejs/require.js"></script>
<!-- endbuild -->

<!-- build:css(.tmp) styles/config.css -->
<link rel="stylesheet" href="http://www.speech.is/styles/config.css">
<!-- endbuild -->

<script>
  require(['config']);
</script>