<div class="jumbotron">
  <h1>Speech.is Connect</h1>


  <p class="alert alert-error">Nice explanation about Speech.is + social network login buttons.</p>
  <a href="/config.html">
    <button type="button" class="btn btn-danger btn-large pull-right">
      Developer Config Page   <span class="glyphicon glyphicon-share-alt"></span>
    </button>
  </a>

</div>