{{> navbar }}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!-- build:css(.tmp) styles/social-buttons.css -->
<link rel="stylesheet" href="styles/social-buttons.css">
<!-- endbuild -->
<div class="jumbotron row" id="Connect" style="margin-top: 70px">
  <h1>Speech.is Connect</h1>


  <p class="alert alert-error">Login to continue</p>
  <button class="btn btn-xlarge btn-facebook"><i class="fa fa-facebook"></i> Facebook</button>
  <button class="btn btn-xlarge btn-twitter"><i class="fa fa-twitter"></i> Twitter</button>
  <button class="btn btn-xlarge btn-github"><i class="fa fa-github-alt"></i> Github</button>

</div>

<div class="row container" id="About">
  <h1>Online Censorship</h1>
  <p>Online censorhisp is surging, even in western democracies.  Various political and technological efforts have been launched to oppose the stifling of speech online, Speech.is (pronounced "speech DOT is") is the f   </p>
  <p>To find websites, the internet uses something called DNS.  DNS is essentially an online telephone book which lists website addresses to numbers. Politicians force internet service providers to blacklist certain entries the DNS phonebook, making content more difficult to reach.</p>
  <p>Speech.is bypasses censorship by acting a bit like a private address book except that  </p>
</div>

<div class="row container" id="Technical">
  <h2>How this evades censorship</h2>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
</div>