<style>
  code, pre, #error, #record {
    display: none;
  }

  pre {
    white-space: pre-wrap;
  }
</style>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.7.2/URI.min.js"></script>-->
<div class="jumbotron">
  <section>
    <h1>Whoa!</h1>
    <!--TODO: near-miss/search match service akin to OpenDNS-->
    <p>Something went terribly wrong while trying to lookup your site <code
        id="urn"></code>!
    <pre id="url"></pre>
    This IS a pre-alpha stage project, so not much is working.... Perhaps you
    misspeled something in the url?
    </p>
  </section>
  <section id='error'>
    <h4>Here's the message which came with the error: <code id="name"></code>
    </h4>
    <pre class="well" id="message"></pre>
  </section>
  <section id="record" style="display: none">
    <h4>This is the DNS record which caused the error.</h4>
    <pre class="well" id="value"></pre>
  </section>
  <script id="gist" src=""></script>
  <a id='github' href="https://github.com/SpeechJS/speechjs/issues/new">
    <button type="button" class="btn btn-info btn-large pull-right">
      Create New Issue on GitHub <span
        class="glyphicon glyphicon-share-alt"></span>
    </button>
  </a>
</div>
<script>
  window.onload = function() {
    //TODO:refactor using URI.js
    //TODO:use listener instead of assigning onload
    var qs = (function(a) {
      if (a == "") return {};
      var b = {};
      for (var i = 0; i < a.length; ++i) {
        var p = a[i].split('=');
        if (p.length != 2) continue;
        b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
      }
      return b;
    })(window.location.search.substr(1).split('&'));

    window.qs = qs;

//    var value =  JSON.stringify(JSON.parse(qs['value']),undefined,2);

    Object.keys(qs).forEach(function(s) {
      $('#' + s).text(qs[s]).show();
    });
    var github = 'https://github.com/SpeechJS/speechjs/issues/new?labels[]=bug&title=';

    if (qs['name'])
      github = github + encodeURIComponent(qs['name']);

    github = github + '+navigation+error' + '&body=' +
        encodeURIComponent('I got this error while trying to visit ');

    if (qs['url'])
      github = github + encodeURIComponent('`' + qs['url'] + '`:');

    if (qs['message'])
      $('#error').show();

    if (qs['value']) {
      var value = JSON.stringify(JSON.parse(qs['value']), null, 2);
      $('#record').show();
      $('#value').text(value);
      github = github + '%0A```javascript%0A' + encodeURIComponent(value) + '%0A```';
    }

    $('#github').attr('href', github);

//        createGist(name, JSON.stringify((value)));

  };

  //  function createGist(name, entry){
  //    var gist = {
  //      "description": name,
  //      "public": true,
  //      "files": {
  //
  //      }
  //    };
  //    gist.files[name + ".urn"] = { "content": entry}
  //    $.post('https://api.github.com/gists',
  //        JSON.stringify(gist),
  //        function(data) {
  //          //https://gist.github.com/anonymous/7326378.js
  //          var gistUrl = "https://gist.github.com/anonymous/" + data.id + ".js";
  //          $('#gist').attr('src',gistUrl);
  //        }
  //    );
  //  }

</script>