---
layout: none
---
<!doctype html>

<head>
  <meta charset="utf-8">
  <title>Speech.is</title>

  <style>
      /*
       * Styling is inlined for performance reasons
       * TODO: test each of these settings, as they were thrown together in an adhoc fashion
       */

    html, body {
      min-height: 100%;
      overflow: hidden;
      margin: 0px;
    }

    #speech {
      border: 0px none transparent;
      padding: 0px;
      margin: 0px;
      min-height: 100%;
    }

    #dns {
      display: none;
    }

  </style>
</head>
<body>


<iframe id="speech" seamless width="100%" allowfullscreen="true" src="">
</iframe>

<iframe id="dns" width="0px" sandbox="allow-scripts allow-same-origin">
  <!--TODO:
    abstract DNS lookup as httpS://api.www.jsdns.tld iFrame.postMessage()
    isolates localStorage from malicious MTM attacks when destination site
    http://example.jsdns.tld is not wrapped in SSL (Firefox will block comms
    from HTTPS sites to non HTTPS websites).

    Firefox does not allow webworkers access to any client-side db, which would
    have been a very elegant solution.
  -->
</iframe>


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="http://www.speech.is/bower_components/jquery/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/speech.js -->
<script data-main="http://www.speech.is/scripts/speech" src="www.speech.is/bower_components/requirejs/require.js"></script>
<!-- endbuild -->

</body>
</html>