<div class="footer">
  <ul class="list-inline">
    <li><a href="http://twitter.com/jeremie_parker" target="_blank" title="@jeremie_parker" style="text-decoration:none;"><i class="glyphicon glyphicon-bullhorn"></i></a></li>
    <li><a href="http://github.com/p-j" target="_blank" title="@p-j" style="text-decoration:none;"><i class="glyphicon glyphicon-random"></i></a></li>
    <li><a href="mailto:yawa@jeremie-parker.com" title="yawa@jeremie-parker.com" style="text-decoration:none; color:#E54C3B;"><i class="glyphicon glyphicon-envelope"></i></a></li>
  </ul>
</div>