
/*
 * TODO: Test these settings as they were just thrown together, cutdown on them.
 */

html, body {
    min-height: 100%;
    overflow: hidden;
    margin: 0px;
}

#speech {
    border: none;
    min-height: 100%;
}
